<header>
    <a href="#aboutme" class="logo" style="text-decoration: none;">
        <span style="color: #FEFEFF;">></span><span style="color: #FEFEFF;">_</span><span
            style="color: #FEFEFF;">M</span><span style="color: #FEFEFF;">i</span><span style="color: #FEFEFF;">T</span>
    </a>
    <nav>
        <div class="nav-links">
            <a href="#aboutme">About Me</a>
            <a href="#mywork">My Work</a>
            <a href="#bored">Bored?</a>
        </div>
    </nav>
</header>